
<div class="jumbotron text-center teaser">
	<h2 class="logo">New Bakery Good</h2>

	<form role="form" name="addBakeryGood" ng-submit="save()">

		<div class="form-oup">
			<p>Bakery Good Name:</p>
			<input type="text" name="bakeryGood"
				ng-model="bakeryGood.bakeryGoodName" class="form-control" required
				pattern=".*\S.*" id="bakeryGoodNameInput">
		</div>

		<div class="form-group">
			<p>Category:</p>
			<select ng-model="bakeryGood.bakeryGoodCategory"
				ng-options="b.bakeryGoodCategoryName for b in bakeryGoodCategories"
				name="bakeryGoodCategory" required class="form-control" id="selectCategory">
			</select>
		</div>



		<div class="form-group" class="addIngredient row">
			<p>Allergen(s):</p>

			<p ng-if="bakeryGood.allergens.length == 0">None</p>

			<div ng-repeat="allergen in bakeryGood.allergens"
				ng-if="bakeryGood.allergens.length > 0" class="allLinedUp row">
				<div class="col-sm-2"></div>
				<div class="col-sm-4">{{allergen.allergenName}}</div>
				<div class="col-sm-4"></div>
				<span class="col-sm-2 glyphicon glyphicon-remove" aria-hidden="true"
					ng-click="removeAllergen(allergen)"></span>
			</div>

			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6">
					<select ng-model="allergen.allergen"
						ng-options="a.allergenName for a in allergens | filter: checkForRedundantAllergen"
						class="form-control allLinedUp" id="selectAllergen"></select>
				</div>
				<div class="col-sm-3">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"
						ng-click="addNewAllergen()"></span>
				</div>
			</div>
		</div>




		<div class="form-group">
			<p>Cost per Item:</p>
			<input type="text" name="bakeryGoodCost"
				ng-model="bakeryGood.bakeryGoodCost" class="form-control" required
				pattern="[0-9]+(\.[0-9][0-9])?" id="bakeryGoodCostInput">
		</div>

		<div class="form-group">
			<p>Vendor:</p>
			<input type="text" name="vendor"
				ng-model="bakeryGood.bakeryGoodVendor" class="form-control" required id="bakeryGoodVendor">
		</div>

		<button type="submit">
			<span class="glyphicon glyphicon-ok" aria-hidden="true" id="addBakeryGood"></span>
		</button>

		<a href="#/bakeryGoods" class="deco-none-return"><span
			class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>

	</form>
</div>