<div class="jumbotron text-center teaser row" id="recipeView">

	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h3>Coffee Drink Ingredients</h3>
	</div>
	<div class="col-sm-2">
		<a ng-href="#/addIngredient" class="deco-none"><span
			class="glyphicon glyphicon-plus addLink" aria-hidden="true"
			id="addIngredientLink"></span> </a>
	</div>
</div>


<div class="jumbotron text-center teaser drinkBox row"
	ng-repeat="drinkIngredient in drinkIngredients | orderBy:'drinkIngredientName'">
	<form editable-form name="editIngredientForm"
		onaftersave="saveEditedIngredient(drinkIngredient)">

		<div class="spacer"></div>

		<div class="row">
			<div class="col-sm-4">
				<span editable-text="drinkIngredient.drinkIngredientName"
					e-name="drinkIngredientName" e-required>{{
					drinkIngredient.drinkIngredientName}}</span>
			</div>
			<div class="col-sm-3">
				<span editable-text="drinkIngredient.drinkIngredientCost"
					e-name="drinkIngredientCost" e-required>{{
					drinkIngredient.drinkIngredientCost | currency : '$' : 2}}</span>
			</div>

			<div class="col-sm-1">per</div>

			<div class="col-sm-3">
				<span editable-select="drinkIngredient.unitOfMeasurement"
					e-name="unitOfMeasureName"
					e-ng-options="u.unitOfMeasurementName for u in unitsOfMeasurement track by u.unitOfMeasurementId">
					{{ drinkIngredient.unitOfMeasurement.unitOfMeasurementName }} </span>
			</div>
		</div>

		<div class="spacer"></div>

		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6" ng-show="!editIngredientForm.$visible">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"
					ng-show="!editIngredientForm.$visible"
					ng-click="removeIngredient(drinkIngredient)"></span> <span
					class="glyphicon glyphicon-pencil" aria-hidden="true"
					ng-click="editIngredientForm.$show()"
					ng-show="!editIngredientForm.$visible"></span>
			</div>

			<div class="col-sm-6" ng-show="editIngredientForm.$visible">
						<button type="submit"><span class="glyphicon glyphicon-ok" aria-hidden="true"
					ng-show="editIngredientForm.$visible"></span></button> <span
					class="glyphicon glyphicon-ban-circle" aria-hidden="true"
					ng-show="editIngredientForm.$visible"
					ng-click="editIngredientForm.$cancel()"></span>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</form>
</div>